
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits        {:git/url "https://github.com/bithandshake/cljc-fruits"
                                          :sha     "5a8fe695f3cf66db95a9676f872dc583ac310f2d"}
         bithandshake/cljc-io            {:git/url "https://github.com/bithandshake/cljc-io"
                                          :sha     "7690588c69a6e24dde825cc12d0e93a45d6d7951"}
         bithandshake/cljc-time          {:git/url "https://github.com/bithandshake/cljc-time"
                                          :sha     "b3ed90584a56559e0d4df3eeb07382da3dc3e99f"}
         bithandshake/cljc-validator     {:git/url "https://github.com/bithandshake/cljc-validator"
                                          :sha     "b3ed90584a56559e0d4df3eeb07382da3dc3e99f"}
         mt-devtools/clj-source-code-map {:git/url "https://github.com/mt-devtools/clj-source-code-map"
                                          :sha     "b3ed90584a56559e0d4df3eeb07382da3dc3e99f"}
         org.clojure/clojure             {:mvn/version "1.10.1"}}}
