
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits        {:git/url "https://github.com/bithandshake/cljc-fruits"
                                          :sha     "f80092781379e8c0812fc5c23f40a6b30751a5c7"}
         bithandshake/cljc-io            {:git/url "https://github.com/bithandshake/cljc-io"
                                          :sha     "3c7563b57f3b4f2486adecd6d35b1b506301ad5e"}
         bithandshake/cljc-time          {:git/url "https://github.com/bithandshake/cljc-time"
                                          :sha     "4bc65bfc2873f52c6919413805f83e3909e9d22a"}
         bithandshake/cljc-validator     {:git/url "https://github.com/bithandshake/cljc-validator"
                                          :sha     "4bc65bfc2873f52c6919413805f83e3909e9d22a"}
         mt-devtools/clj-source-code-map {:git/url "https://github.com/mt-devtools/clj-source-code-map"
                                          :sha     "4bc65bfc2873f52c6919413805f83e3909e9d22a"}
         org.clojure/clojure             {:mvn/version "1.10.1"}}}
